.login-section{
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #864df8;
    background-color: #864df8;
    border-radius: 5px;
    color: white;
}

.login-section h2{
    text-align: center;
    margin-bottom: 20px;
}

.login-section form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-section form label{
    font-size: 18px;
}

.login-section form input{
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.login-section form input:focus{
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.login-section form button{
    background-color: #412B6B;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.login-section form button:hover{
    background-color: #311564;
    cursor: pointer;
    transition: all 0.3s;
}